/* Coolors Exported Palette - https://coolors.co/1a1f16-1e3f20-345830-4a7856 */

/* CSS HEX */
--carbon-black: #1a1f16ff;
--black-forest: #1e3f20ff;
--hunter-green: #345830ff;
--fern: #4a7856ff;

/* CSS HSL */
--carbon-black: hsla(93, 17%, 10%, 1);
--black-forest: hsla(124, 35%, 18%, 1);
--hunter-green: hsla(114, 29%, 27%, 1);
--fern: hsla(136, 24%, 38%, 1);

/* SCSS HEX */
$carbon-black: #1a1f16ff;
$black-forest: #1e3f20ff;
$hunter-green: #345830ff;
$fern: #4a7856ff;

/* SCSS HSL */
$carbon-black: hsla(93, 17%, 10%, 1);
$black-forest: hsla(124, 35%, 18%, 1);
$hunter-green: hsla(114, 29%, 27%, 1);
$fern: hsla(136, 24%, 38%, 1);

/* SCSS RGB */
$carbon-black: rgba(26, 31, 22, 1);
$black-forest: rgba(30, 63, 32, 1);
$hunter-green: rgba(52, 88, 48, 1);
$fern: rgba(74, 120, 86, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #1a1f16ff, #1e3f20ff, #345830ff, #4a7856ff);
$gradient-right: linear-gradient(90deg, #1a1f16ff, #1e3f20ff, #345830ff, #4a7856ff);
$gradient-bottom: linear-gradient(180deg, #1a1f16ff, #1e3f20ff, #345830ff, #4a7856ff);
$gradient-left: linear-gradient(270deg, #1a1f16ff, #1e3f20ff, #345830ff, #4a7856ff);
$gradient-top-right: linear-gradient(45deg, #1a1f16ff, #1e3f20ff, #345830ff, #4a7856ff);
$gradient-bottom-right: linear-gradient(135deg, #1a1f16ff, #1e3f20ff, #345830ff, #4a7856ff);
$gradient-top-left: linear-gradient(225deg, #1a1f16ff, #1e3f20ff, #345830ff, #4a7856ff);
$gradient-bottom-left: linear-gradient(315deg, #1a1f16ff, #1e3f20ff, #345830ff, #4a7856ff);
$gradient-radial: radial-gradient(#1a1f16ff, #1e3f20ff, #345830ff, #4a7856ff);